<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="%static '/style/style.css' %">
    <title>Eva1</title>
</head>
<body>
    <h1>Bienvenidos a mi pagina</h1>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non facilis odio vitae minima totam aut assumenda, doloribus maiores expedita blanditiis excepturi quibusdam, repudiandae alias? Tenetur at harum iusto nostrum voluptas.</h2>
    <img src="{%static '/static/images/poster1.png' %}">
    <img src="{%static '/static/images/poster2.png' %}">
    <img src="{%static '/static/images/descarga.jpg'} %">
</body>
</html>